!!!
%html
%head
  %title MyNotes | You Life On Rails!
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

%body
  %header
    .header_inner
      = link_to "MyNotes", root_path, id: "logo"

      %nav
        - if user_signed_in?
          = link_to "Create Doc", new_doc_path
          = link_to "Sign Out", destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: :delete
        
        - else
          = link_to "Log In", new_user_session_path
          = link_to "Sign Up", new_user_registration_path


    %p.notice= notice
    %p.alert= alert
= yield 